<head>

</head>
<div class="scrollbar" id="style-14">
  <div class="force-overflow"></div>
</div>
  <div  class = "popuper">
    <div style="padding: 15px; max-width: 80%; height: 100%">
      <table *ngIf="resource != null" id="edit-table" class="table exotic-table">
        <thead>
        <tr class="text-center">
          <th colspan="2">Edit resource</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
          <td>Name:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <input [(ngModel)]="resource.name" class="input-text" type="text" pInputText value="{{resource.name}}">
              </div>
            </div>
          </td>
        </tr>
        <tr rowcount="2" class="text-center">
          <td>Type</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <input [(ngModel)]="resource.type"  type="text" pInputText value="{{resource.type}}">
              </div>
            </div>
          </td>
        </tr>
        <tr rowcount="2" class="text-center">
          <td>State</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <input [(ngModel)]="resource.state" type="text" pInputText value="{{resource.state}}">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span>Add Time</span>
          </td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <input [(ngModel)]="resource.addTime" type="date" name="addTime">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span>Description</span>
          </td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <textarea [(ngModel)]="resource.description" rows="5" cols="50">{{resource.description}}</textarea>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span>Categories</span>
          </td>
          <td>
            <div style="float: right;  display: block; color:#ccc " class="ui-g-12 ui-md-4">
              <p-multiSelect
                [style]="{'width': '100%', 'margin-right': '100px', 'color': '#lalala'}"
                [options]="categories" [(ngModel)]="activeCategories" name="categories"
                optionLabel="name"></p-multiSelect>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            <span>Place</span>
          </td>
          <td>
            <div style="float: right;" class="ui-g-12 ui-md-4">
              <p-dropdown [style]="{'width': '100%', 'margin-right': '100px', 'color': 'white'}"
                          [options]="places" [(ngModel)]="activePlace"
                          optionLabel="name"

                        >
              </p-dropdown>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-center" style="padding: 2% 10% 2% 10%;">
            <button (click)="dismissEdit()" style="float: left; width: 20%" type="button" class="btn btn-warning">Back</button>
            <button (click)="updateResource()" style="float: right; width: 20%" type="button" class="btn btn-warning">Save</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


