body{
  background:#121212;
  font-family: sans-serif;
  color:#ccc;
  padding:15px;
}
.popuper {
  position: absolute;
  margin: -400px 300px;
  width: 600px;
  height: 550px;
  overflow-y:auto;

}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #282828;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}


.table>thead>tr>th{border-bottom: none;}
.exotic-table{
  color:#fff;
  background: #191919;
  text-align: center;
  border: none;
}
.exotic-table thead tr{
  border: 2px #333 outset;
  text-align: center;
}
.exotic-table thead>tr>th{
  text-align: center;
}
.exotic-table tbody{
  border:2px outset #333;
  border-top:none
}

.exotic-table tbody tr{
  background: #222;
}
.exotic-table tbody tr:hover{
  box-shadow:0 0 20px #000;
  background:#1a1a1a;
}
.exotic-table tbody tr td{
  border-bottom:2px outset #333;
}
.table-responsive{
  border:none;
}
.popover {
  color:#000
}
a.td-price{
  color:#fff;
  border-bottom:1px dotted #ccc
}
.ui-dropdown .ui-dropdown-label
{
  color: #52edff;
  visibility: hidden;
}

input[type="text"], [type="date"], textarea {
  color:whitesmoke;
  background-color : #333333;
  border-radius: 15px;
  padding: 10px;
}

.green{color:#47e900}
.red{color:#f00808}
.paleyellow{color:#f8d97c}
.purple{color:#b461ff}
.turquoise{color:#52edff}
