<head>

</head>
<ngForm>
<div>

  <div class="row" style="width: 90%; margin: auto">
    <div class="table-responsive" style="padding: 15px; max-width: 80%; margin: 0 auto">
      <table id="edit-table" class="table exotic-table">
        <thead>
        <tr class="text-center">
          <th colspan="2">Edit resource</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr class="text-center">
          <td>Name:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <input style="color: #cccccc" class="input-text" type="text" pInputText placeholder="name">
              </div>
            </div>
          </td>
        </tr>
        <tr rowcount="2" class="text-center">
          <td>Description</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Description">
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-center">
          <td>Add time:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Last name">
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-center">
          <td>Del time:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Last name">
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-center">
          <td>Last name:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup" style="text-align: center">
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-center">
          <td>Last name:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Last name">
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-center">
          <td>Last name:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Last name">
              </div>
            </div>
          </td>
        </tr>
        <tr class="text-center">
          <td>Last name:</td>
          <td>
            <div class="ui-g-12 ui-md-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Last name">
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</ngForm>
