<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover({title: "Payment Modes", html: true, placement: "left"});
  });
  $(document).ready(function () {
    if (!$.browser.webkit) {
      $('.wrapper').html('<p>Sorry! Non webkit users. :(</p>');
    }
  });

</script>
<!------ Include the above in your HEAD tag ---------->
</head>

<div class="container">
  <div class="scrollbar" id="style-14">
    <div class="force-overflow"></div>
  </div>

  <div class="row" style="margin-top: 20px ">
    <div class="row" style="height: 250px; width: 80%; margin: 0 180px; z-index: 7000">
      <div class="table-responsive" [style.opacity]="getOpacity()" style="padding: 15px; max-height: 300px" id="resourceTable">
        <table id="main-table" class="table exotic-table">
          <thead>
          <tr class="text-center">
            <th colspan="2">Resources for user</th>
            <th colspan="2">{{user.firstName}}</th>
          </tr>
          <tr class="text-center">
            <th>ID</th>
            <th>Resources</th>
            <th>Place</th>
            <th>Manage</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let res of resources; let myIndex = index">
            <td>{{myIndex + 1}}</td>
            <td>{{res.name}}</td>
            <td>{{res.placeId}}</td>
            <td>
              <button style="background-color: transparent; border: none; color: greenyellow"
                      class="glyphicon glyphicon-info-sign blue" (click)="showView(res.id)"></button>
              <button style="background-color: transparent; border: none" class="glyphicon glyphicon-pencil paleyellow"
                      (click)="showEdit(res.id)"></button>
              <button style="background-color: transparent; border: none" class="glyphicon glyphicon-remove red"
                      (click)="showEdit()"></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="height: 90px"></div>

    <p-dialog *ngIf="resource != null" [transitionOptions]="'0ms'" [visible]="displayView" [modal]="true" [dismissableMask]="true" [responsive]="true"
              [maximizable]="true" [baseZIndex]="10000" [contentStyle]="{'max-height':'200px'}">
      <div class="row" style=" width: 100%;">

        <div class="col-md-4">
          <div class="table-responsive">
            <table id="detail-table1" class="table exotic-table">
              <thead>
              <tr class="text-center">
                <th colspan="3">Information</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td colspan="3" class="text-center" style="padding: 5px; height: 135px">IMAGE</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">Name</td>
                <td colspan="2" class="text-center" style="padding: 20px">{{resource.name}}</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">On loan</td>
                <td colspan="2" class="text-center" style="padding: 20px"><span
                  class="glyphicon glyphicon-ok green"></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive">
            <table id="main-table2" class="table exotic-table">
              <thead>
              <tr class="text-center">
                <th colspan="3">Information</th>
              </tr>
              </thead>
              <tr>
                <td align="left" style="padding: 20px">Type</td>
                <td colspan="2" class="text-center" style="padding: 20px;">{{resource.type}}</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">State</td>
                <td colspan="2" class="text-center" style="padding: 20px;">{{resource.state}}</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">Add/Del Time</td>
                <td class="text-center" style="padding: 20px;">{{resource.addTime}}</td>
                <td class="text-center" style="padding: 20px;">{{resource.delTime}}</td>
              </tr>
              <tr>
                <td style="width: 200px">
                  <button type="button" class="btn btn-warning">PDF Info</button>
                </td>
                <td style="width: 200px">
                  <button type="button" class="btn btn-warning">Add photo</button>
                </td>
                <td style="width: 200px">
                  <button type="button" class="btn btn-warning">To scrap</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive">
            <table id="main-table3" class="table exotic-table">
              <thead>
              <tr class="text-center">
                <th colspan="3">Description</th>
              </tr>
              </thead>
              <tr>
                <td colspan="3" class="text-center" style="padding: 10px;height: 125px">{{resource.description}}</td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 50px">
                  <div style="text-align: center">Categories</div>
                </td>
                <td  width="70%" colspan="2" class="text-center" style="padding: 10px;height: 135px"><span (click)="printText()" *ngFor="let cat of categories; let myIndex = index">{{cat.name}}<br></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-dialog>
      <p-dialog  [style]="{height: '20px'}" [(visible)]="displayEdit" [modal]="true"
                [dismissableMask]="true"  [responsive]="true"
                [maximizable]="true" [baseZIndex]="1000">
        <app-user-res-detail></app-user-res-detail>
      </p-dialog>

  </div>
</div>

