<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover({title: "Payment Modes", html: true, placement: "left"});
  });
  $(document).ready(function () {
    if (!$.browser.webkit) {
      $('.wrapper').html('<p>Sorry! Non webkit users. :(</p>');
    }
  });

</script>
<!------ Include the above in your HEAD tag ---------->
</head>

<div class="container">
  <div class="scrollbar" id="style-14">
    <div class="force-overflow"></div>
  </div>

  <div class="row" style="margin-top: 20px ">
    <div class="row" style="height: 250px; width: 80%; margin: 0 220px; z-index: 7000">

      <div class="table-responsive" [style.opacity]="getOpacity()" style="padding: 15px; max-height: 300px" id="resourceTable">
        <table id="main-table" class="table exotic-table">
          <thead>
          <tr class="text-center">
            <th colspan="2">Resources for user</th>
            <th colspan="2">{{user.firstName}}
              <button style="float: right; background-color: transparent; border: none" class="glyphicon glyphicon-retweet purple"
                      (click)="showCheckedTickets()"></button>
              <button style="float: right; background-color: transparent; border: none" class="glyphicon glyphicon-envelope turquoise "
                      (click)="showNotCheckedTickets()"></button>
            </th>
          </tr>
          <tr class="text-center">
            <th>ID</th>
            <th>Resources</th>
            <th>Place</th>
            <th>Manage</th>
          </tr>
          </thead>
          <tbody class="text-center">
          <tr *ngFor="let res of resources; let myIndex = index">
            <td>{{myIndex + 1}}</td>
            <td>{{res.name}}</td>
            <td>{{res.place.name}}</td>
            <td>
              <button style="background-color: transparent; border: none; color: greenyellow"
                      class="glyphicon glyphicon-info-sign blue" (click)="showView(res.id)"></button>
              <button style="background-color: transparent; border: none" class="glyphicon glyphicon-pencil paleyellow"
                      (click)="showEdit(res.id)"></button>
              <button style="background-color: transparent; border: none" class="glyphicon glyphicon-remove red"
              (click)="removeEdit(res.id)"></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="height: 90px"></div>
      <div *ngIf="displayView" class="row" style="width: 100%; margin-left: 40px">

        <div class="col-md-4">
          <div class="table-responsive">
            <table id="detail-table1" class="table exotic-table">
              <thead>
              <tr class="text-center">
                <th colspan="3">Information</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td colspan="3" class="text-center" style="padding: 5px; height: 135px"><img src="assets/images/tool64.png" width="50"></td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">Name</td>
                <td colspan="2" class="text-center" style="padding: 20px">{{resource.name}}</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">On loan</td>
                <td colspan="2" class="text-center" style="padding: 20px"><span
                  class="glyphicon glyphicon-ok green"></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive">
            <table id="main-table2" class="table exotic-table">
              <thead>
              <tr class="text-center">
                <th colspan="3">Information</th>
              </tr>
              </thead>
              <tr>
                <td align="left" style="padding: 20px">Type</td>
                <td colspan="2" class="text-center" style="padding: 20px;">{{resource.type}}</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">State</td>
                <td colspan="2" class="text-center" style="padding: 20px;">{{resource.state}}</td>
              </tr>
              <tr>
                <td align="left" style="padding: 20px">Add/Del Time</td>
                <td class="text-center" style="padding: 20px;">{{resource.addTime}}</td>
                <td class="text-center" style="padding: 20px;">{{resource.delTime}}</td>
              </tr>
              <tr>
                <td style="width: 200px">
                  <button type="button" class="btn btn-warning">PDF Info</button>
                </td>
                <td style="width: 200px">
                  <button type="button" class="btn btn-warning">Add photo</button>
                </td>
                <td style="width: 200px">
                  <button type="button" class="btn btn-warning">To scrap</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="table-responsive">
            <table id="main-table3" class="table exotic-table">
              <thead>
              <tr class="text-center">
                <th colspan="3">Description</th>
              </tr>
              </thead>
              <tr>
                <td colspan="3" class="text-center" style="padding: 10px;height: 125px">{{resource.description}}</td>
              </tr>
              <tr>
                <td class="text-center" style="padding: 50px">
                  <div style="text-align: center">Categories</div>
                </td>
                <td  width="70%" colspan="2" class="text-center" style="padding: 10px;height: 135px"><span *ngFor="let cat of categories; let myIndex = index">{{cat.name}}<br></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <div *ngIf="displayNotCheckedTickets" class="row" style="width: 100%; margin-left: 40px">

      <div class="col-md-12">
        <div class="table-responsive" >
          <div class="table-custom">
          <p-table [value]="notActiveTicketOwners" >
            <ng-template pTemplate="header" style="{'background': '#1a1a1a'; 'color': 'white'}">
              <tr>
                <th>ID</th>
                <th>Resource:</th>
                <th>Raporter:</th>
                <th>Added:</th>
                <th>Date From:</th>
                <th>Date To:</th>
                <th>Note:</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
              <tr>
                <td>{{ticket.id}}</td>
                <td>{{ticket.resource.name}}</td>
                <td>{{ticket.user.firstName}} {{ticket.user.lastName}}</td>
                <td>{{ticket.addTime}}</td>
                <td>{{ticket.dateFrom}}</td>
                <td>{{ticket.dateTo}}</td>
                <td>{{ticket.note}}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="footer">
              <tr>
                <td colspan="7">Totals {{notActiveTicketOwners.length}} </td>
              </tr>
            </ng-template>
          </p-table>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="displayCheckedTickets" class="row" style="width: 100%; margin-left: 40px">

      <div class="col-md-12">
        <div class="table-responsive" >
          <div class="table-custom">
            <p-table [value]="notActiveTicketOwners" >
              <ng-template pTemplate="header" style="{'background': '#1a1a1a'; 'color': 'white'}">
                <tr>
                  <th>ID</th>
                  <th>Resource:</th>
                  <th>Raporter:</th>
                  <th>Added:</th>
                  <th>Date From:</th>
                  <th>Date To:</th>
                  <th>Note:</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-ticket>
                <tr>
                  <td>{{ticket.id}}</td>
                  <td>{{ticket.resource.name}}</td>
                  <td>{{ticket.user.firstName}} {{ticket.user.lastName}}</td>
                  <td>{{ticket.addTime}}</td>
                  <td>{{ticket.dateFrom}}</td>
                  <td>{{ticket.dateTo}}</td>
                  <td>{{ticket.note}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="7">Totals {{notActiveTicketOwners.length}} </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>

    <app-user-res-detail *ngIf="displayEdit" style="margin-top: -400px"></app-user-res-detail>
  </div>

</div>

