<!--The content below is only a placeholder and can be replaced.-->
<html>
<head>
  <base href="/"/>
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="node_modules/systemjs/dist/system.src.js"></script>

  <script src="systemjs.config.js"></script>
  <script>
    System.import('app').catch(function (err) {
      console.error(err);
    });
  </script>
</head>
<body>
<div class="all">
    <div class="card-header">
      <app-header></app-header>
      <hr>
    </div>
    <router-outlet></router-outlet>
</div>
<div class="scrollbar" id="style-14">
  <div class="force-overflow"></div>
</div>
</body>
</html>


