
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: #282828;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
 /*blad z scrollowaniem page */
html{
  width: 100%;
  min-height: 100%;
  margin: 0px;
  overflow: hidden;

}
body{
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  overflow: hidden;
  background-image: url('../assets/images/background.jpeg');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1330px) {
  .all{
    text-align: center;
    margin: 0px 150px 0 150px;
  }
}

@media (min-width: 1620px) {
  .all{
    text-align: center;
    margin: 0px 320px 0 320px;
  }
}



