<!--The content below is only a placeholder and can be replaced.-->
<head>
  <base href="/"/>
  <script src="node_modules/core-js/client/shim.min.js"></script>
  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="node_modules/systemjs/dist/system.src.js"></script>

  <script src="systemjs.config.js"></script>
  <script>
    System.import('app').catch(function (err) {
      console.error(err);
    });
  </script>

</head>
<body>
<div class="all">
  <div class="container">
    <div class="card-header">
      <app-header></app-header>
      <hr>
    </div>
    <router-outlet></router-outlet>
    <!--<div class="ui-card-footer" style="background-color: red; width: 100%; height: 30%">-->
      <!--ELO-->
    <!--</div>-->
  </div>
</div>
</body>


