<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>

            <form class="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <span id="reauth-email" class="reauth-email"></span>
                <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email" autofocus [(ngModel)]="model.email"
                #email="ngModel" required >
                <div style="font-size: 80%;" *ngIf="f.submitted 
                && !email.valid">Email is required</div>
            </div>

            <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password"
                #password="ngModel" required />
                <div style="font-size: 80%;" *ngIf="f.submitted
                 && !password.valid">Password is required</div>
          </div>
                <button class="btn btn-lg btn-success btn-block btn-signin" [disabled]="loading">Log me in</button>
            
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?<br>
                Contact admin
            </a>
        </div><!-- /card-container -->
